{% extends 'apps/base/base.html' %}

{% block body %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="container">
                <div class="container border-bottom-4">
                    <div class="header_tab_menu">
                        <div class="header_menu" style="overflow: auto">
                            <a href="{% url 'statistic-list' %}?period=today" class="btn btn-default">Bugun</a>
                            <a href="{% url 'statistic-list' %}?period=last_day" class="btn btn-default">Kechagi</a>
                            <a href="{% url 'statistic-list' %}?period=weekly" class="btn btn-default">Haftalik</a>
                            <a href="{% url 'statistic-list' %}?period=monthly" class="btn btn-default">Oylik</a>
                            <a href="{% url 'statistic-list' %}?period=all" class="btn btn-default">Hammasi</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-center">

                        <tr>
                            <th scope="col">Oqim</th>
                            <th scope="col">Mahsulot</th>
                            <th scope="col">Tashrif</th>
                            <th scope="col">Yangi</th>
                            <th scope="col">Dastavkaga tayyor</th>
                            <th scope="col">Yetkazilmoqda</th>
                            <th scope="col">Yetqazib berildi</th>
                            <th scope="col">Telefon ko'tarmadi</th>
                            <th scope="col">Bekor qilindi</th>
                            <th scope="col">Arxivlandi</th>
                        </tr>
                        <tr class="bg-info">
                            <td> JAMI</td>
                            <td></td>
                            <td>{% if all_visit_count %}{{ all_visit_count }}{% else %}0{% endif %}</td>
                            <td>{% if all_new_count %}{{ all_new_count }}{% else %}0{% endif %}</td>
                            <td> {% if all_ready_to_order_count %}{{ all_ready_to_order_count }}{% else %}0{% endif %}</td>
                            <td> {% if all_delivering_count %}{{ all_delivering_count }}{% else %}0{% endif %}</td>
                            <td> {% if all_delivered_count %}{{ all_delivered_count }}{% else %}0{% endif %}</td>
                            <td> {% if all_not_pick_up_count %}{{ all_not_pick_up_count }}{% else %}0{% endif %}</td>
                            <td> {% if all_archived_count %}{{ all_archived_count }}{% else %}0{% endif %}</td>
                            <td> {% if all_cancel_count %}{{ all_cancel_count }}{% else %}0{% endif %}</td>
                        </tr>
                        </thead>

                        <tbody class="text-center">

                        {% for statistic in statistics %}
                            <tr>
                                <th>{{ statistic.name }}</th>
                                <th>{{ statistic.product.name }}</th>
                                <td>{{ statistic.visit_count }}</td>
                                <td>{{ statistic.new_count }}</td>
                                <td>{{ statistic.ready_to_order_count }}</td>
                                <td>{{ statistic.delivering_count }}</td>
                                <td>{{ statistic.delivered_count }}</td>
                                <td>{{ statistic.not_pick_up_count }}</td>
                                <td>{{ statistic.archived_count }}</td>
                                <td>{{ statistic.cancel_count }}</td>
                            </tr>
                        {% endfor %}

                        <tr class="bg-info">
                            <td> JAMI</td>
                            <td></td>
                            <td>{% if all_visit_count %}{{ all_visit_count }}{% else %}0{% endif %}</td>
                            <td>{% if all_new_count %}{{ all_new_count }}{% else %}0{% endif %}</td>
                            <td> {% if all_ready_to_order_count %}{{ all_ready_to_order_count }}{% else %}0{% endif %}</td>
                            <td> {% if all_delivering_count %}{{ all_delivering_count }}{% else %}0{% endif %}</td>
                            <td> {% if all_delivered_count %}{{ all_delivered_count }}{% else %}0{% endif %}</td>
                            <td> {% if all_not_pick_up_count %}{{ all_not_pick_up_count }}{% else %}0{% endif %}</td>
                            <td> {% if all_archived_count %}{{ all_archived_count }}{% else %}0{% endif %}</td>
                            <td> {% if all_cancel_count %}{{ all_cancel_count }}{% else %}0{% endif %}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



